@tailwind base;
@tailwind components;
@tailwind utilities;




/* menu for mobile */
.line-top {
    transform: translateY(-7px);
    transition: transform .25s, opacity .35s;
}

.line-bottom {
    transform: translateY(7px);
    transition: transform .25s, opacity .35s;
}

#checkbox:checked~.line-bottom {
    transform: rotate(-45deg);
}

#checkbox:checked~.line-top {
    transform: rotate(45deg);
}

#checkbox:checked~.line-middle {
    transform: rotate(16px);
    opacity: 0;
}


.polygon {
    /* clip-path: polygon(0 15px, 100% 0, 100% 95%, 0 100%); */
    clip-path: polygon(0 35px, 100% 0, 100% 95%, 0 100%);
}

@media(max-width: 450px) {
.polygon {
        clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
    }
}
