@tailwind base;
@tailwind components;
@tailwind utilities;






/* app font */

@layer base {
    @font-face {
        font-family: 'Switzer-bold';
        src: url('/src/assets/fonts/Switzer-Bold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }
}


    @font-face {
        font-family: 'Switzer-regular';
        src: url('/src/assets/fonts/Switzer-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }


    @font-face {
        font-family: 'Switzer-medium';
        src: url('/src/assets/fonts/Switzer-Medium.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }


    @font-face {
        font-family: 'Switzer-light';
        src: url('/src/assets/fonts/Switzer-Light.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }



/* menu for mobile */
.line-top {
    transform: translateY(-7px);
    transition: transform .25s, opacity .35s;
}

.line-bottom {
    transform: translateY(7px);
    transition: transform .25s, opacity .35s;
}

#checkbox:checked~.line-bottom {
    transform: rotate(-45deg);
}

#checkbox:checked~.line-top {
    transform: rotate(45deg);
}

#checkbox:checked~.line-middle {
    transform: rotate(16px);
    opacity: 0;
}

img {
   
    margin: 0 !important;
}


.polygon {
    clip-path: polygon(0 35px, 100% 0, 100% 95%, 0 100%);
}

@media(max-width: 450px) {
.polygon {
        clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
    }
}


@layer components {
    .link {
        @apply hover:after:scale-x-100 relative inline-block after:bottom-0 after:origin-left after:scale-x-0 after:content-[""] after:w-[100%] after:h-[1px] after:bg-white  after:absolute after:left-0 after:transition after:duration-700 after:ease-in-out;
    }
}
